.subPage.being-desi.animated
  .subHeader.container-fluid
    .row
      .col-sm-3
        %a{:href => "/portfolio"} < back

      .col-sm-6.text-center
        %span.title Being.Desi

      .col-sm-3


  .subPageContent.container
    .row
      .col-xs-12.logoWrp.text-center
        %img.img-responsive{:src => "../images/beingdesi-logo.png"}


    .row
      .col-sm-12.introWrp
        .titleWrp.text-center
          %p.title
            %span Overview

        %p.para.text-justify
          Being.desi was a contest site build for the sole purpose of increase awareness of the new .desi tld amongst Indians. This contest required the contestant to take and upload a desi (Indian) picture and mention the story behind it, in the provided description area. The winner was chosen based on the best story, relevance and the most number of shares and likes. The site had a gallery area where everyone could see the submitted images and descriptions. Also every logged in user was provided with a dashboard to crop and upload their images and write their description.

        %p.btnWrp.text-center
          %a.btn.btn-primary.checkInAction{:href => "http://www.being.desi", :target => "_blank", :rel => "nofollow"} Checkout the site
          %a.btn.btn-primary.checkCode{:href => "https://github.com/shalomsam/being.desi", :target => "_blank", :rel => "nofollow"} Checkout the code

        .infoWrp.row
          .col-xs-12.col-sm-6.roleWrp
            %p.title My Role:
            %p.role
              HTML / CSS / Jquery, PHP, Smarty, Core PHP framework, Mysql

          .col-xs-12.col-sm-6.platformWrp
            %p.title Platforms:
            %ul.platforms
              %li.pull-left.fa.fa-desktop.active
              %li.pull-left.fa.fa-tablet.active
              %li.pull-left.fa.fa-mobile.active

    .row
      .col-sm-12.snapshotWrp
        .titleWrp.text-center
          %p.title
            %span Snapshots

        .snapshots
          .row-fluid
            %img.img-responsive{:src => "../images/responsive-showcase-being-desi.jpg"}
          .row-fluid
            %img.img-responsive{:src => "../images/MacBook-showcase-being-desi2.jpg"}
          .row-fluid
            %img.img-responsive{:src => "../images/MacBook-showcase-being-desi1.jpg"}