.subPage.bigrock.animated
  .subHeader.container-fluid
    .row
      .col-xs-3
        %a{:href => "/portfolio"} < back

      .col-xs-6.text-center
        %span.title BigRock

      .col-sm-3


  .subPageContent.container
    .row
      .col-xs-12.logoWrp.text-center
        %img.img-responsive{:src => "../images/bigrock-logo.gif"}


    .row
      .col-sm-12.introWrp
        .titleWrp.text-center
          %p.title
            %span Overview

        %p.para.text-justify
          BigRock is a domains and hosting company. My role here involved product integrations, i.e. building new pages for new products, styling and building required javascript behaviors like ajax, animations, etc., testing, debugging, bug-fixing and co-ordinating with backend php developers from time to time for seem less integrations into Supersite. Supersite in short is in house CMS system. For more info
          %a{:href => "http://manage.hostgator.in/kb/servlet/KBServlet/faq783.html", :target => "_blank"} Click here
          \. The mobile version of this site was built separately using jquery mobile (due to some backend limitations at the time). Occasionally have also worked a little on the backend php few times.

        %p.btnWrp.text-center
          %a.btn.btn-success.btn-flat.checkInAction{:href => "http://www.bigrock.in", :target => "_blank", :rel => "nofollow"} Checkout .IN version
          %a.btn.btn-success.btn-flat.checkInAction{:href => "http://www.bigrock.cn", :target => "_blank", :rel => "nofollow"} Checkout .CN version

        .infoWrp.row
          .col-xs-12.col-sm-6.roleWrp
            %p.title My Role:
            %p.role
              HTML / HTML5, CSS / CSS3, Javascript, Jquery, Backbone, PHP

          .col-xs-12.col-sm-6.platformWrp
            %p.title Platforms:
            %ul.platforms
              %li.pull-left.fa.fa-desktop.active
              %li.pull-left.fa.fa-tablet.active
              %li.pull-left.fa.fa-mobile.active

    .row
      .col-sm-12.snapshotWrp
        .titleWrp.text-center
          %p.title
            %span Snapshots

        .snapshots
          .row-fluid
            %img.img-responsive{:src => "../images/bigrock-showcase-home.jpg"}
          .row-fluid
            %img.img-responsive{:src => "../images/bigrock-showcase-email-lite.jpg"}
          .row-fluid
            %img.img-responsive{:src => "../images/bigrock-showcase-linux.jpg"}