.subPage.bluehost-blog.animated
  .subHeader.container-fluid
    .row
      .col-sm-3
        %a{:href => "/portfolio"} < back

      .col-sm-6.text-center
        %span.title Bluehost blog

      .col-sm-3


  .subPageContent.container
    .row
      .col-xs-12.logoWrp.text-center
        %img.img-responsive{:src => "../images/bluehost-blog-logo.png"}


    .row
      .col-sm-12.introWrp
        .titleWrp.text-center
          %p.title
            %span Overview

        %p.para.text-justify
          Bluehost blog was build on WordPress. The nearest simple theme was chosen and skinning and customization was build on top of it. For most part I had to add required widgets and style the pages as required according the given design.

        %p.btnWrp.text-center
          %a.btn.btn-success.btn-flat.checkInAction{:href => "http://in.bluehost.com/blog", :target => "_blank", :rel => "nofollow"} Checkout Bluehost blog

        .infoWrp.row
          .col-xs-12.col-sm-6.roleWrp
            %p.title My Role:
            %p.role
              HTML / CSS, WordPress Themes

          .col-xs-12.col-sm-6.platformWrp
            %p.title Platforms:
            %ul.platforms
              %li.pull-left.fa.fa-desktop.active
              %li.pull-left.fa.fa-tablet.active
              %li.pull-left.fa.fa-mobile.active

    .row
      .col-sm-12.snapshotWrp
        .titleWrp.text-center
          %p.title
            %span Snapshots

        .snapshots
          .row-fluid
            %img.img-responsive{:src => ""}
          .row-fluid
            %img.img-responsive{:src => ""}
          .row-fluid
            %img.img-responsive{:src => ""}