.subPage.bluehost.animated
  .subHeader.container-fluid
    .row
      .col-xs-3
        %a{:href => "/portfolio"} < back

      .col-xs-6.text-center
        %span.title Bluehost

      .col-xs-3


  .subPageContent.container
    .row
      .col-xs-12.logoWrp.text-center
        %img.img-responsive{:src => "../images/bluehostindia-logo.jpg"}


    .row
      .col-sm-12.introWrp
        .titleWrp.text-center
          %p.title
            %span Overview

        %p.para.text-justify
          Bluehost is a US based hosting company. My role involved replicating the styling and theme from the .COM site (US) to the .IN site (Indian) and integrating the same into our backend CMS system, Supersite
          %a{:href => "http://manage.hostgator.in/kb/servlet/KBServlet/faq783.html", :target => "_blank", :title => "What is Supersite"} (?)
          \. The .CN (China) version was also build in the same way. Also from time to time there were product integrations, i.e. building new pages for new products, styling, building required javascript behaviors like ajax, animations, etc., testing, debugging, bug-fixing and co-ordinating with backend php developers for seem less integrations into Supersite.

        %p.btnWrp.text-center
          %a.btn.btn-success.btn-flat.checkInAction{:href => "http://in.bluehost.com", :target => "_blank", :rel => "nofollow"} Check .IN version
          %a.btn.btn-success.btn-flat.checkInAction{:href => "http://cn.bluehost.com", :target => "_blank", :rel => "nofollow"} Check .CN version

        .infoWrp.row
          .col-xs-12.col-sm-6.roleWrp
            %p.title My Role:
            %p.role
              HTML / HTML5, CSS / CSS3, Javascript, Jquery, Backbone

          .col-xs-12.col-sm-6.platformWrp
            %p.title Platforms:
            %ul.platforms
              %li.pull-left.fa.fa-desktop.active
              %li.pull-left.fa.fa-tablet
              %li.pull-left.fa.fa-mobile

    .row
      .col-sm-12.snapshotWrp
        .titleWrp.text-center
          %p.title
            %span Snapshots

        .snapshots
          .row-fluid
            %img.img-responsive{:src => ""}
          .row-fluid
            %img.img-responsive{:src => ""}
          .row-fluid
            %img.img-responsive{:src => ""}