<div class='subPage bluehost-blog animated'>
  <div class='subHeader container-fluid'>
    <div class='row'>
      <div class='col-xs-3'>
        <a href='/portfolio'>< back</a>
      </div>
      <div class='col-xs-6 text-center'>
        <span class='title'>Core Framework</span>
      </div>
      <div class='col-xs-3'></div>
    </div>
  </div>
  <div class='subPageContent container'>
    <div class='row'>
      <div class='col-xs-12 logoWrp text-center'>
        <img class='img-responsive' src='../images/coreFramework-01.png'>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12 introWrp'>
        <div class='titleWrp text-center'>
          <p class='title'>
            <span>Overview</span>
          </p>
        </div>
        <p class='para text-justify'>
          CoreFramework is a php web application framework that I build in my free-time. This was a self undertaking to understand php little better and also to understand what goes into an MVC framework. This was an extensive project which took me almost 2 years, to get to a usable and performing version after multiple rewrites. While not the fastest framework out there, the current version 3.0 is completely usable and gives performance of ~350 requests/sec
          <sup>*</sup>
          .
        </p>
        <p class='btnWrp text-center'>
          <a class='btn btn-success btn-disabled btn-flat checkInAction' href='http://www.coreframework.in' rel='nofollow' target='_blank'>Checkout the website</a>
          <a class='btn btn-success btn-flat checkCode' href='https://github.com/core-framework/core-framework' rel='nofollow' target='_blank'>Checkout the code</a>
        </p>
        <div class='infoWrp row'>
          <div class='col-xs-12 col-sm-6 roleWrp'>
            <p class='title'>My Role:</p>
            <p class='role'>
              PHP, Logo Design
            </p>
          </div>
          <div class='col-xs-12 col-sm-6 platformWrp'>
            <p class='title'>Platforms:</p>
            <ul class='platforms'>
              <li class='pull-left fa fa-desktop active'></li>
              <li class='pull-left fa fa-tablet active'></li>
              <li class='pull-left fa fa-mobile active'></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12 snapshotWrp'>
        <div class='titleWrp text-center'>
          <p class='title'>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
