.subPage.gafbo.animated
  .subHeader.container-fluid
    .row
      .col-sm-3
        %a{:href => "/portfolio"} < back

      .col-sm-6.text-center
        %span.title Get African Business Online

      .col-sm-3


  .subPageContent.container
    .row
      .col-xs-4.logoWrp.text-center
        %img.img-responsive{:src => "../images/gafbo-kenya-logo.png"}
      .col-xs-4.logoWrp.text-center
        %img.img-responsive{:src => "../images/gafbo-logo.png"}
      .col-xs-4.logoWrp.text-center
        %img.img-responsive{:src => "../images/gafbo-nigeria-logo.png"}

    .row
      .col-sm-12.introWrp
        .titleWrp.text-center
          %p.title
            %span Overview

        %p.para.text-justify
          Get African business online (GAFBO) is a Hostgator.in program run in association with Google. This program helps african business setup their online businesses easily and at a low cost. The Get Africa online and its subpages where build on the in house CMS, Supersite
          %a{:href => "http://manage.hostgator.in/kb/servlet/KBServlet/faq783.html", :target => "_blank"} (?)
          \. This project required customizations to tailor the site to a minimalistic purchase flow. Thus some or most of the code on this page maybe considered 'hacky', as the regular flow provided by Supersite had to be altered.

        %p.btnWrp.text-center
          %a.btn.btn-primary.checkInAction{:href => "http://africa.hostgator.com/kenyagetonline", :target => "_blank", :rel => "nofollow"} Checkout Kenya site
          %a.btn.btn-primary.checkInAction{:href => "http://africa.hostgator.com/africagetonline", :target => "_blank", :rel => "nofollow"} Checkout Africa site
          %a.btn.btn-primary.checkInAction{:href => "http://africa.hostgator.com/nigeriagetonline", :target => "_blank", :rel => "nofollow"} Checkout Nigeria site

        .infoWrp.row
          .col-xs-12.col-sm-6.roleWrp
            %p.title My Role:
            %p.role
              HTML / HTML, CSS / CSS3, Javascript, Jquery

          .col-xs-12.col-sm-6.platformWrp
            %p.title Platforms:
            %ul.platforms
              %li.pull-left.fa.fa-desktop.active
              %li.pull-left.fa.fa-tablet
              %li.pull-left.fa.fa-mobile

    .row
      .col-sm-12.snapshotWrp
        .titleWrp.text-center
          %p.title
            %span Snapshots

        .snapshots
          .row-fluid
            %img.img-responsive{:src => ""}
          .row-fluid
            %img.img-responsive{:src => ""}
          .row-fluid
            %img.img-responsive{:src => ""}