.subPage.gibo.animated
  .subHeader.container-fluid
    .row
      .col-sm-3
        %a{:href => "/portfolio"} < back

      .col-sm-6.text-center
        %span.title Get Indian Business Online

      .col-sm-3


  .subPageContent.container
    .row
      .col-xs-12.logoWrp.text-center
        %img.img-responsive{:src => "../images/gibo-logo.png"}


    .row
      .col-sm-12.introWrp
        .titleWrp.text-center
          %p.title
            %span Overview

        %p.para.text-justify
          Get Indian business online (GIBO) is a Google program run in partnership with Hostgator India. This program aims to help India business get their online presence easily. The Get Indian Business online was build on the in house CMS, Supersite
          %a{:href => "http://manage.hostgator.in/kb/servlet/KBServlet/faq783.html", :target => "_blank", :rel => "nofollow"} (?)
          \.

        %p.btnWrp.text-center
          %a.btn.btn-primary.checkInAction{:href => "http://gibo.hostgator.in/", :target => "_blank", :rel => "nofollow"} Checkout the site

        .infoWrp.row
          .col-xs-12.col-sm-6.roleWrp
            %p.title My Role:
            %p.role
              HTML / HTML5, CSS / CSS3, Bootstrap, Javascript, Jquery

          .col-xs-12.col-sm-6.platformWrp
            %p.title Platforms:
            %ul.platforms
              %li.pull-left.fa.fa-desktop.active
              %li.pull-left.fa.fa-tablet.active
              %li.pull-left.fa.fa-mobile.active

    .row
      .col-sm-12.snapshotWrp
        .titleWrp.text-center
          %p.title
            %span Snapshots

        .snapshots
          .row-fluid
            %img.img-responsive{:src => ""}
          .row-fluid
            %img.img-responsive{:src => ""}
          .row-fluid
            %img.img-responsive{:src => ""}