.subPage.httpx.animated
  .subHeader.container-fluid
    .row
      .col-xs-3
        %a{:href => "/portfolio"} < back

      .col-xs-6.text-center
        %span.title httpX

      .col-xs-3


  .subPageContent.container
    .row
      .col-xs-12.logoWrp.text-center
        %img.img-responsive{:src => "../images/httpx-logo.png"}


    .row
      .col-sm-12.introWrp
        .titleWrp.text-center
          %p.title
            %span Overview

        %p.para.text-justify
          HttpX was an event held by BigRock in Mumbai and Delhi, to get web designers and developers together and to give them a platform to share knowledge and learn form each other. With nearly 700 attendees at Mumbai & Delhi, we kept our promise of creating India's most sought after event for Web Designers & developers. I was required to build a simple one page website to relay information regarding the event and to accept online registrations.

        %p.btnWrp.text-center
          %a.btn.btn-success.btn-flat.checkInAction{:href => "http://bigrockhttpx.net/", :target => "_blank", :rel => "nofollow"} Checkout the site
          %a.btn.btn-success.btn-flat.checkCode{:href => "https://github.com/shalomsam/bigrockhttpx", :target => "_blank", :rel => "nofollow"} Checkout the code

        .infoWrp.row
          .col-xs-12.col-sm-6.roleWrp
            %p.title My Role:
            %p.role
              HTML / HTML5, CSS / CSS3, Jquery, PHP

          .col-xs-12.col-sm-6.platformWrp
            %p.title Platforms:
            %ul.platforms
              %li.pull-left.fa.fa-desktop.active
              %li.pull-left.fa.fa-tablet.active
              %li.pull-left.fa.fa-mobile

    .row
      .col-sm-12.snapshotWrp
        .titleWrp.text-center
          %p.title
            %span Snapshots

        .snapshots
          .row-fluid
            %img.img-responsive{:src => "../images/httpx-main-home-showcase.jpg"}
          .row-fluid
            %img.img-responsive{:src => "../images/httpx-revamped-home-showcase.jpg"}