<div class='subPage httpx animated'>
  <div class='subHeader container-fluid'>
    <div class='row'>
      <div class='col-sm-3'>
        <a href='/portfolio'>< back</a>
      </div>
      <div class='col-sm-6 text-center'>
        <span class='title'>httpX</span>
      </div>
      <div class='col-sm-3'></div>
    </div>
  </div>
  <div class='subPageContent container'>
    <div class='row'>
      <div class='col-xs-12 logoWrp text-center'>
        <img class='img-responsive' src='../images/httpx-logo.png'>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12 introWrp'>
        <div class='titleWrp text-center'>
          <p class='title'>
            <span>Overview</span>
          </p>
        </div>
        <p class='para text-justify'>
          HttpX was an event held by BigRock in Mumbai and Delhi, to get web designers and developers together and to give them a platform to share knowledge and learn form each other. With nearly 700 attendees at Mumbai & Delhi, we kept our promise of creating India's most sought after event for Web Designers & developers. I was required to build a simple one page website to relay information regarding the event and to accept online registrations.
        </p>
        <p class='btnWrp text-center'>
          <a class='btn btn-primary checkInAction' href='http://bigrockhttpx.net/' rel='nofollow' target='_blank'>Checkout the site</a>
          <a class='btn btn-primary checkCode' href='https://github.com/shalomsam/bigrockhttpx' rel='nofollow' target='_blank'>Checkout the code</a>
        </p>
        <div class='infoWrp row'>
          <div class='col-xs-12 col-sm-6 roleWrp'>
            <p class='title'>My Role:</p>
            <p class='role'>
              HTML / HTML5, CSS / CSS3, Jquery, PHP
            </p>
          </div>
          <div class='col-xs-12 col-sm-6 platformWrp'>
            <p class='title'>Platforms:</p>
            <ul class='platforms'>
              <li class='pull-left fa fa-desktop active'></li>
              <li class='pull-left fa fa-tablet active'></li>
              <li class='pull-left fa fa-mobile'></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-12 snapshotWrp'>
        <div class='titleWrp text-center'>
          <p class='title'>
            <span>Snapshots</span>
          </p>
        </div>
        <div class='snapshots'>
          <div class='row-fluid'>
            <img class='img-responsive' src=''>
          </div>
          <div class='row-fluid'>
            <img class='img-responsive' src=''>
          </div>
          <div class='row-fluid'>
            <img class='img-responsive' src=''>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
