.subPage.rod.animated
  .subHeader.container-fluid
    .row
      .col-xs-3
        %a{:href => "/portfolio"} < back

      .col-xs-6.text-center
        %span.title Rockstar of Design

      .col-xs-3


  .subPageContent.container
    .row
      .col-xs-12.logoWrp.text-center
        %img.img-responsive{:src => "../images/rod-logo1.jpg"}


    .row
      .col-sm-12.introWrp
        .titleWrp.text-center
          %p.title
            %span Overview

        %p.para.text-justify
          Rockstar of design was contest held by BigRock to find the best design talent in India. Site provided portal for participants to register and upload their designs. This required me to build the website from ground up, making sure the pages were inline with design and integrating the front-end with backend using PHP and jquery to provide the desired behaviours on the site.

        %p.btnWrp.text-center
          %a.btn.btn-success.btn-flat.checkInAction{:href => "http://www.rockstarofdesign.net/", :target => "_blank", :rel => "nofollow"} Checkout the site

        .infoWrp.row
          .col-xs-12.col-sm-6.roleWrp
            %p.title My Role:
            %p.role
              HTML / HTML5, CSS / CSS3, Jquery, PHP, Mysql

          .col-xs-12.col-sm-6.platformWrp
            %p.title Platforms:
            %ul.platforms
              %li.pull-left.fa.fa-desktop.active
              %li.pull-left.fa.fa-tablet
              %li.pull-left.fa.fa-mobile

    .row
      .col-sm-12.snapshotWrp
        .titleWrp.text-center
          %p.title
            %span Snapshots

        .snapshots
          .row-fluid
            %img.img-responsive{:src => "../images/rod-showcase.jpg"}
          .row-fluid
            %img.img-responsive{:src => "../images/rod-showcase2.jpg"}