.subPage.word-up.animated
  .subHeader.container-fluid
    .row
      .col-sm-3
        %a{:href => "/portfolio"} < back

      .col-sm-6.text-center
        %span.title Word-up

      .col-sm-3


  .subPageContent.container
    .row
      .col-xs-12.logoWrp.text-center
        %img.img-responsive{:src => "../images/wordup-logo-2015.png"}


    .row
      .col-sm-12.introWrp
        .titleWrp.text-center
          %p.title
            %span Overview

        %p.para.text-justify
          Word-up is an event held by BigRock in association with the .ME registry and IndiBlogger (Indian Blogger Community) for the blogger communities in India. This event is a platform for bloggers to share their success stories and to inspire other bloggers. I was required to build a simple website to display information about the event.

        %p.btnWrp.text-center
          %a.btn.btn-primary.checkInAction{:href => "http://word-up.me", :target => "_blank", :rel => "nofollow"} Checkout the site

        .infoWrp.row
          .col-xs-12.col-sm-6.roleWrp
            %p.title My Role:
            %p.role
              HTML / HTML5, CSS / CSS3, Jquery

          .col-xs-12.col-sm-6.platformWrp
            %p.title Platforms:
            %ul.platforms
              %li.pull-left.fa.fa-desktop.active
              %li.pull-left.fa.fa-tablet
              %li.pull-left.fa.fa-mobile

    .row
      .col-sm-12.snapshotWrp
        .titleWrp.text-center
          %p.title
            %span Snapshots

        .snapshots
          .row-fluid
            %img.img-responsive{:src => ""}
          .row-fluid
            %img.img-responsive{:src => ""}
          .row-fluid
            %img.img-responsive{:src => ""}