<div class='container page about-page'>
  <div class='row header'>
    <div class='col-sm-12'>
      <h1 class='text-center' ng-class="{ 'animated fadeInDown' : animateTitle }">ABOUT ME</h1>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <div class='text-content'>
        <p ng-class="{ 'animated fadeInLeftSmall' : textAnimate }">
          Hi, I am a web developer living in Mumbai, and currently working for Endurance International (EIG) brands, which include
          <a href='http://hostgator.in/'>Hostgator</a>
          ,
          <a href='http://in.bluehost.com/'>Bluehost</a>
          ,
          <a href='http://bigrock.in/'>BigRock</a>
          and many more.
        </p>
        <p ng-class="{ 'animated fadeInRightSmall' : textAnimate }">For 5 years I've designed, developed and maintained websites and apps for major International Hosting and Domain Brands for their Asia space. Though I have a Bachelor's degree in Science, specializing in IT, I'm for the most part self taught. And this came very naturally to me cause of my passion for web design and development.</p>
        <p ng-class="{ 'animated fadeInLeftSmall' : textAnimate }">
          In my free time I created
          <a href='http://www.coreframework.in/'>Coreframework</a>
          , a php mvc framework, which can also be found on
          <a href='https://github.com/core-framework/core-framework'>Github</a>
          .
        </p>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <h3>Skills</h3>
    </div>
  </div>
  <div class='skills row'>
    <div class='col-xs-6 col-sm-3' ng-controller='chartHtmlCtrl'>
      <div class='title'>
        <span class='txt'>HTML / HTML5</span>
      </div>
      <div class='easypiechart' easypiechart='' options='options' percent='percent' tooltip-placement='top' tooltip='HTML / HTML5'>
        <div class='icons html5'></div>
      </div>
    </div>
    <div class='col-xs-6 col-sm-3' ng-controller='chartHamlCtrl'>
      <div class='title'>
        <span class='txt'>Haml</span>
      </div>
      <div class='easypiechart' easypiechart='' options='options' percent='percent' tooltip-placement='top' tooltip='Haml'>
        <div class='icons haml'></div>
      </div>
    </div>
    <div class='col-xs-6 col-sm-3' ng-controller='chartCssCtrl'>
      <div class='title'>
        <span class='txt'>CSS / CSS3</span>
      </div>
      <div class='easypiechart' easypiechart='' options='options' percent='percent' tooltip-placement='top' tooltip='CSS / CSS3'>
        <div class='icons css3'></div>
      </div>
    </div>
    <div class='col-xs-6 col-sm-3' ng-controller='chartSassCtrl'>
      <div class='title'>
        <span class='txt'>Sass</span>
      </div>
      <div class='easypiechart' easypiechart='' options='options' percent='percent' tooltip-placement='top' tooltip='Sass'>
        <div class='icons sass'></div>
      </div>
    </div>
  </div>
  <div class='skills row'>
    <div class='col-xs-6 col-sm-3' ng-controller='chartJqueryCtrl'>
      <div class='title'>
        <span class='txt'>Jquery / Javascript</span>
      </div>
      <div class='easypiechart' easypiechart='' options='options' percent='percent' tooltip-placement='top' tooltip='Jquery / Js'>
        <div class='icons jquery'></div>
      </div>
    </div>
    <div class='col-xs-6 col-sm-3' ng-controller='chartAngularCtrl'>
      <div class='title'>
        <span class='txt'>AngularJs</span>
      </div>
      <div class='easypiechart' easypiechart='' options='options' percent='percent' tooltip-placement='top' tooltip='AngularJs'>
        <div class='icons angular'></div>
      </div>
    </div>
    <div class='col-xs-6 col-sm-3' ng-controller='chartBackboneCtrl'>
      <div class='title'>
        <span class='txt'>Backbonejs</span>
      </div>
      <div class='easypiechart' easypiechart='' options='options' percent='percent' tooltip-placement='top' tooltip='BackboneJs'>
        <div class='icons backbone'></div>
      </div>
    </div>
    <div class='col-xs-6 col-sm-3' ng-controller='chartPhpCtrl'>
      <div class='title'>
        <span class='txt'>PHP</span>
      </div>
      <div class='easypiechart' easypiechart='' options='options' percent='percent' tooltip-placement='top' tooltip='PHP'>
        <div class='icons php'></div>
      </div>
    </div>
  </div>
  <div class='skills row'>
    <div class='col-xs-6 col-sm-3' ng-controller='chartMysqlCtrl'>
      <div class='title'>
        <span class='txt'>Mysql</span>
      </div>
      <div class='easypiechart' easypiechart='' options='options' percent='percent' tooltip-placement='top' tooltip='Mysql'>
        <div class='icons mysql'></div>
      </div>
    </div>
    <div class='col-xs-6 col-sm-3' ng-controller='chartMongodbCtrl'>
      <div class='title'>
        <span class='txt'>MongoDb</span>
      </div>
      <div class='easypiechart' easypiechart='' options='options' percent='percent' tooltip-placement='top' tooltip='MongoDb'>
        <div class='icons mongodb'></div>
      </div>
    </div>
    <div class='col-xs-6 col-sm-3' ng-controller='chartPhotoshopCtrl'>
      <div class='title'>
        <span class='txt'>Photoshop</span>
      </div>
      <div class='easypiechart' easypiechart='' options='options' percent='percent' tooltip-placement='top' tooltip='Photoshop'>
        <div class='icons photoshop'></div>
      </div>
    </div>
    <div class='col-xs-6 col-sm-3' ng-controller='chartIllustratorCtrl'>
      <div class='title'>
        <span class='txt'>Illustrator</span>
      </div>
      <div class='easypiechart' easypiechart='' options='options' percent='percent' tooltip-placement='top' tooltip='Illustrator'>
        <div class='icons illustrator'></div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12'>
      <h3>Also worked with</h3>
    </div>
  </div>
  <div class='iconsWrp row-fluid'>
    <div class='icons'>
      <span>Bootstrap</span>
      <img alt='Bootstrap' src='../images/bootstrap-logo.png' title='Bootstrap'>
    </div>
    <div class='icons'>
      <span>Jquery Mobile</span>
      <img alt='Jquery Mobile' src='../images/jquery-mobile-logo.png' title='Jquery Mobile'>
    </div>
    <div class='icons'>
      <span>Composer</span>
      <img alt='Composer' src='../images/composer-logo.png' title='Composer'>
    </div>
    <div class='icons'>
      <span>Bower</span>
      <img alt='Bower' src='../images/bower-logo.png' title='Bower'>
    </div>
    <div class='icons'>
      <span>Git</span>
      <img alt='Git' src='../images/git-logo.png' title='Git'>
    </div>
    <div class='icons'>
      <span>Grunt</span>
      <img alt='Grunt' src='../images/grunt-logo.png' title='Grunt'>
    </div>
    <div class='icons'>
      <span>Smarty</span>
      <img alt='Smarty' src='../images/smarty-logo.png' title='Smarty'>
    </div>
  </div>
</div>
