.container.page.contact-page
  .row.header
    .col-xs-12
      %h1.text-center{:'ng-class' => "{ 'animated fadeInDown' : animateTitle }"} CONTACT ME

  .contactWrp
    .row
      .col-xs-12{:'ng-class' => "{ 'animated fadeInUpSmall' : textAnimate }"}
        If you have some crazy startup idea or would like to work with me or simply chat, you could get in touch with me on either social using the links provided below or simple send me a
        %a{:href => "mailto:shalom.s@coreframework.in"} mail
        and I'll respond promptly :)

    .row
      .col-xs-12.text-center.socialWrp
        %a.fa.fa-envelope{:href => "mailto:shalom.s@coreframework.in"}
        %a.fa.fa-facebook{:href => "http://www.facebook.com/shalom.sam"}
        %a.fa.fa-twitter{:href => "http://www.twitter.com/Shalom_Sam"}
        %a.fa.fa-linkedin{:href => "https://www.linkedin.com/profile/view?id=55968477"}
        %a.fa.fa-angellist{:href => "https://angel.co/shalom-sam"}
