<div class='container page contact-page'>
  <h1 class='text-center' ng-class="{ 'animated fadeInDown' : animateTitle }">CONTACT ME</h1>
  <div class='contactWrp'>
    <div class='row'>
      <div class='col-xs-12'>
        If you have some crazy startup idea or would like to work with me or simply chat, you could get in touch with me on either social using the links provided below or simple send me a
        <a href='mailto:shalom.s@coreframework.in'>mail</a>
        and I'll respond promptly :)
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12 text-center socialWrp'>
        <a class='fa fa-envelope' href='mailto:shalom.s@coreframework.in'></a>
        <a class='fa fa-facebook' href='http://www.facebook.com/shalom.sam'></a>
        <a class='fa fa-twitter' href='http://www.twitter.com/Shalom_Sam'></a>
        <a class='fa fa-linkedin' href='http://www.linkedin.com/shalomsam'></a>
        <a class='fa fa-angellist' href='https://angel.co/shalom-sam'></a>
      </div>
    </div>
  </div>
</div>
