<div class='container page portfolio-page'>
  <div class='row header'>
    <div class='col-sm-12'>
      <h1 class='text-center' ng-class="{ 'animated fadeInDown' : animateTitle }">PORTFOLIO</h1>
      <h6 class='text-center subtitle'>Some of my recent work</h6>
    </div>
  </div>
  <div class='portfolioWrp'>
    <div class='row'>
      <div class='col-xs-12 col-sm-4'>
        <a class='box' href='/portfolio/coreframework'>
          <div class='logoWrp'>
            <div class='brandLogo coreframework'></div>
          </div>
          <div class='title'>
            <p>Core Framework</p>
          </div>
        </a>
      </div>
      <div class='col-xs-12 col-sm-4'>
        <a class='box' href='/portfolio/being-desi'>
          <div class='logoWrp'>
            <div class='brandLogo being-desi'></div>
          </div>
          <div class='title'>
            <p>Being.desi</p>
          </div>
        </a>
      </div>
      <div class='col-xs-12 col-sm-4'>
        <a class='box' href='/portfolio/hostgator'>
          <div class='logoWrp'>
            <div class='brandLogo hostgator'></div>
          </div>
          <div class='title'>
            <p>Hostgator</p>
          </div>
        </a>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12 col-sm-4'>
        <a class='box' href='/portfolio/bluehost'>
          <div class='logoWrp'>
            <div class='brandLogo bluehost'></div>
          </div>
          <div class='title'>
            <p>Bluehost</p>
          </div>
        </a>
      </div>
      <div class='col-xs-12 col-sm-4'>
        <a class='box' href='/portfolio/bigrock'>
          <div class='logoWrp'>
            <div class='brandLogo bigrock'></div>
          </div>
          <div class='title'>
            <p>BigRock</p>
          </div>
        </a>
      </div>
      <div class='col-xs-12 col-sm-4'>
        <a class='box' href='/portfolio/gibo'>
          <div class='logoWrp'>
            <div class='brandLogo gibo'></div>
          </div>
          <div class='title'>
            <p>Gibo</p>
          </div>
        </a>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12 col-sm-4'>
        <a class='box' href='/portfolio/gafbo'>
          <div class='logoWrp'>
            <div class='brandLogo gafbo'></div>
          </div>
          <div class='title'>
            <p>Gafbo</p>
          </div>
        </a>
      </div>
      <div class='col-xs-12 col-sm-4'>
        <a class='box' href='/portfolio/rod'>
          <div class='logoWrp'>
            <div class='brandLogo rod'></div>
          </div>
          <div class='title'>
            <p>Rock Stars Of Design</p>
          </div>
        </a>
      </div>
      <div class='col-xs-12 col-sm-4'>
        <a class='box' href='/portfolio/httpx'>
          <div class='logoWrp'>
            <div class='brandLogo httpx'></div>
          </div>
          <div class='title'>
            <p>HttpX</p>
          </div>
        </a>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-12 col-sm-4'>
        <a class='box' href='/portfolio/bluehost-blog'>
          <div class='logoWrp'>
            <div class='brandLogo bluehost-blog'></div>
          </div>
          <div class='title'>
            <p>Bluehost blog</p>
          </div>
        </a>
      </div>
      <div class='col-xs-12 col-sm-4'>
        <a class='box' href='/portfolio/bigrock-blog'>
          <div class='logoWrp'>
            <div class='brandLogo bigrock-blog'></div>
          </div>
          <div class='title'>
            <p>Bigrock blog</p>
          </div>
        </a>
      </div>
      <div class='col-xs-12 col-sm-4'>
        <a class='box' href='/portfolio/word-up'>
          <div class='logoWrp'>
            <div class='brandLogo word-up'></div>
          </div>
          <div class='title'>
            <p>Word-up</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
<div class='switchWrp' ng-class='{active: animateSubPage}' ng-switch='' on='subPage'>
  <div class='case' ng-switch-when='coreframework'>
    <div class='template' ng-include="'templates/partials/coreframework.html'"></div>
  </div>
  <div class='case' ng-switch-when='being-desi'>
    <div class='template' ng-include="'templates/partials/being-desi.html'"></div>
  </div>
  <div class='case' ng-switch-when='hostgator'>
    <div class='template' ng-include="'templates/partials/hostgator.html'"></div>
  </div>
  <div class='case' ng-switch-when='bluehost'>
    <div class='template' ng-include="'templates/partials/bluehost.html'"></div>
  </div>
  <div class='case' ng-switch-when='bigrock'>
    <div class='template' ng-include="'templates/partials/bigrock.html'"></div>
  </div>
  <div class='case' ng-switch-when='gibo'>
    <div class='template' ng-include="'templates/partials/gibo.html'"></div>
  </div>
  <div class='case' ng-switch-when='gafbo'>
    <div class='template' ng-include="'templates/partials/gafbo.html'"></div>
  </div>
  <div class='case' ng-switch-when='rod'>
    <div class='template' ng-include="'templates/partials/rod.html'"></div>
  </div>
  <div class='case' ng-switch-when='httpx'>
    <div class='template' ng-include="'templates/partials/httpx.html'"></div>
  </div>
  <div class='case' ng-switch-when='word-up'>
    <div class='template' ng-include="'templates/partials/word-up.html'"></div>
  </div>
  <div class='case' ng-switch-when='bigrock-blog'>
    <div class='template' ng-include="'templates/partials/bigrock-blog.html'"></div>
  </div>
  <div class='case' ng-switch-when='bluehost-blog'>
    <div class='template' ng-include="'templates/partials/bluehost-blog.html'"></div>
  </div>
  <div class='case' ng-switch-default=''></div>
</div>
