.container.page.portfolio-page
  .row.header
    .col-sm-12
      %h1.text-center{:'ng-class' => "{ 'animated fadeInDown' : animateTitle }"} PORTFOLIO
      %h6.text-center.subtitle Some of my recent work

  .portfolioWrp
    .row

      .col-xs-12.col-sm-4
        %a.box{:href => "/portfolio/coreframework"}
          .logoWrp
            .brandLogo.coreframework

          .title
            %p Core Framework

      .col-xs-12.col-sm-4
        %a.box{:href => "/portfolio/being-desi"}
          .logoWrp
            .brandLogo.being-desi

          .title
            %p Being.desi

      .col-xs-12.col-sm-4
        %a.box{:href => "/portfolio/hostgator"}
          .logoWrp
            .brandLogo.hostgator

          .title
            %p Hostgator


    .row

      .col-xs-12.col-sm-4
        %a.box{:href => "/portfolio/bluehost"}
          .logoWrp
            .brandLogo.bluehost

          .title
            %p Bluehost


      .col-xs-12.col-sm-4
        %a.box{:href => "/portfolio/bigrock"}
          .logoWrp
            .brandLogo.bigrock

          .title
            %p BigRock

      .col-xs-12.col-sm-4
        %a.box{:href => "/portfolio/gibo"}
          .logoWrp
            .brandLogo.gibo

          .title
            %p Gibo


    .row

      .col-xs-12.col-sm-4
        %a.box{:href => "/portfolio/gafbo"}
          .logoWrp
            .brandLogo.gafbo

          .title
            %p Gafbo


      .col-xs-12.col-sm-4
        %a.box{:href => "/portfolio/rod"}
          .logoWrp
            .brandLogo.rod

          .title
            %p Rock Stars Of Design

      .col-xs-12.col-sm-4
        %a.box{:href => "/portfolio/httpx"}
          .logoWrp
            .brandLogo.httpx

          .title
            %p HttpX


    .row
      .col-xs-12.col-sm-4
        %a.box{:href => "/portfolio/bluehost-blog"}
          .logoWrp
            .brandLogo.bluehost-blog

          .title
            %p Bluehost blog

      .col-xs-12.col-sm-4
        %a.box{:href => "/portfolio/bigrock-blog"}
          .logoWrp
            .brandLogo.bigrock-blog

          .title
            %p Bigrock blog


      .col-xs-12.col-sm-4
        %a.box{:href => "/portfolio/word-up"}
          .logoWrp
            .brandLogo.word-up

          .title
            %p Word-up




-#%sub-pages{:src => " includeFile ", :class => 'subPageWrp', :'ng-class' => "{active: animateSubPage }"}
-#, :'ng-class' => "{active: supPageActive }"
-#%ng-include{:src => " includeFile ", :class => 'subPageWrp', :'ng-class' => "{active: includeFile != '' }"}

.switchWrp{:'ng-switch' => '', :on => "subPage", :'ng-class' => "{active: animateSubPage}"}
  .case{'ng-switch-when' => "coreframework"}
    .template{:'ng-include' => "'templates/partials/coreframework.html'"}

  .case{'ng-switch-when' => "being-desi"}
    .template{:'ng-include' => "'templates/partials/being-desi.html'"}

  .case{'ng-switch-when' => "hostgator"}
    .template{:'ng-include' => "'templates/partials/hostgator.html'"}

  .case{'ng-switch-when' => "bluehost"}
    .template{:'ng-include' => "'templates/partials/bluehost.html'"}

  .case{'ng-switch-when' => "bigrock"}
    .template{:'ng-include' => "'templates/partials/bigrock.html'"}

  .case{'ng-switch-when' => "gibo"}
    .template{:'ng-include' => "'templates/partials/gibo.html'"}

  .case{'ng-switch-when' => "gafbo"}
    .template{:'ng-include' => "'templates/partials/gafbo.html'"}

  .case{'ng-switch-when' => "rod"}
    .template{:'ng-include' => "'templates/partials/rod.html'"}

  .case{'ng-switch-when' => "httpx"}
    .template{:'ng-include' => "'templates/partials/httpx.html'"}

  .case{'ng-switch-when' => "word-up"}
    .template{:'ng-include' => "'templates/partials/word-up.html'"}

  .case{'ng-switch-when' => "bigrock-blog"}
    .template{:'ng-include' => "'templates/partials/bigrock-blog.html'"}

  .case{'ng-switch-when' => "bluehost-blog"}
    .template{:'ng-include' => "'templates/partials/bluehost-blog.html'"}

  .case{'ng-switch-default' => ""}