@import "mixins";
@import "animations";

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url('../fonts/Montserrat.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'), url('../fonts/Roboto-thin-latin-100.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto'), url('../fonts/Roboto-regular-latin-400.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-medium'), url('../fonts/Roboto-medium-latin-500.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body {
  font: 400 14px 'Roboto', helvetica, arial, sans-serif;
  @include retina {
    font: 100 14px 'Roboto', helvetica, arial, sans-serif;
  }
  background: lighten($bgColor, 1);
  header {
    @include small-devices {
      -webkit-transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
    }
    height: 100%;
    width: 100%;
    display: block;
    position: relative;

    &.header-wrap {
      background: url('../images/bg-img-road.JPG') no-repeat scroll 50% 0 #dddddd;
      background-size: cover;
      color: white;
      position: fixed;
      top: 0;
      z-index: 100;

      .contentWrp {
        height: 100%;
        padding-bottom: 50px;
        background: rgba(0,0,0,0.4);
      }

      a {
        color: white;
      }
    }

    .displayPic {
      width: 175px;
      height: 175px;
      overflow: hidden;
      border-radius: 50%;
      background: url('../images/my-image2.jpg') no-repeat scroll -67px -14px yellow;
      background-size: 262% 198%;
      margin: 10px auto;
      border: 10px solid #434343;
    }

    .displayPic.cartoon {
      background: url('../images/login-avatar.png') no-repeat scroll 0 0 red;
      width: 200px;
      height: 199px;
      background-size: cover;
    }

    .dpWrapper {
      margin-top: 20px;
      @include min-height(800px) {
        margin-top: 14%;
      }
      @include min-height(1200px) {
        margin-top: 33%;
      }
      @include small-devices {
        margin-top: 0;
      }
      @include animation(0s, 3s);

      img {
        width: 36%;
        @include small-devices {
          width: 70%;
        }
        @include max-width(350px) {
          width: 60%;
        }
        border: 10px solid #fff;
        border-radius: 100%;
        max-width: 300px;
        @include animation(0s,1.5s);
      }
    }

    .introMsgWrp {
      font-size: 30px;
      margin-top: 20px;

      .col-md-2 {
        //padding-top: 5px;
        //margin-top: 10px;

        a {
          display: inline-block;
          width: 100%;
          height: 100%;
          margin-top: 10px;
          padding-top: 10px;
          border-top: 5px solid #23A359;
        }
      }

      .fname {
        font: 44px 'Montserrat', helvetica, arial, sans-serif;
      }
    }

    h1, h3, h4 {
      margin: 0;
    }

    h1 {
      font-size: 100px;
      font-size: 7.4vw;
      font-weight: Bold;
      text-shadow: 2px 5px 0 rgba(0,0,0,0.9);
    }

    h3 {
      font-size: inherit;
      font-size: 4.4vw;
    }

    h4 {
      font-size: 12px;
      font-size: 1.45vw;
      margin-top: 5px;

      .company {
        text-decoration: underline;
      }
    }


    .nav-wrap.bottom {

      .nav-main {
        float: none;
        text-align: center;

        li {
          float: none;
          display: inline-block;
        }

      }

    }

    .socialWrp-xs {
      font-size: 30px;
      font-size: 3.5vw;
      margin-top: 20px;
      @include small-devices {
        font-size: 30px;
      }
    }

    .introMsgWrp, .socialWrp-xs {
      .fa {
        display: inline-block;
        max-width: 100px;
        width: 100px;
        height: 50px;
        @include small-devices {
          width: 56px;
          height: 36px;
        }
        text-decoration: none;
        margin: 15px auto;
        vertical-align: middle;
        @include transition(all 0.4s cubic-bezier(0.9, 0.16, 0.46, 1.92));

        &:hover {
          font-size: 40px;
          font-size: 4vw;
          @include small-devices {
            font-size: 40px;
          }

          &.fa-facebook {
            color: #3b5998;
            text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
          }

          &.fa-twitter {
            color: #00aced;
            text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
          }

          &.fa-linkedin {
            color: #007bb6;
            text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
          }

          &.fa-angellist {
            color: white;
            text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
          }
        }
      }
    }

  }

  &.home {

    header {
      @include animation(0s, 1s, slideDownHeader)
    }

  }

  &.about, &.skills, &.experience, &.education, &.portfolio, &.contact {

    header {
      @include animation(0s, 1s, slideUpHeader);
    }

  }

  &.error {

    header {
      @include animation(0s, 0s, slideUpHeader);
    }

  }

  .btn-disabled {
    background: #434343;
  }

}

.navbar-custom {

  @include small-devices {
    min-height: inherit;

    @include max-height(640px) {
      @include retina {
        bottom: -2px;
      }
    }
  }

  li > a {
    @include small-devices {
      padding: 15px;
      @include max-width(350px) {
        padding: 10px;
      }
    }
  }

  .navbar-nav {
    @include small-devices {
      margin-top: 1px;
      margin-bottom: 1px;
    }
  }

  .container {
    margin-top: 30px;

    .navbar-header {
      .icon-bar {
        background: #ffffff;
      }
    }
  }
}

section {
  height: 100%;
  width: 100%;
  display: block;
  position: relative;
}

.row {
  &.header, &.skills {
    margin: 20px 0;

    h1 {
      margin: 15px 0;
      @include small-devices {
        margin: 0;
      }
    }
  }
}

.view-animate-container {
  position: relative;

  .section-box {
    margin: 44px 0 0;
    position: relative;
    z-index: 1;

    .page {
      //padding: 20px 0;

      .text-content {
        font-size: $fontSize;
        //margin: 20px 0;
      }

    }

  }
}

.animated {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}

.about-page {
  h3 {
    margin: 10px 0 25px 0;
  }

  h3:last-child {
    margin: 25px 0 0 0;
  }

  .row {

    &.skills {
      @include small-devices {
        margin: 0;
      }

      div[class*="col-"] {
        @include small-devices {
          margin: 20px 0;
        }
      }
    }


    div[class*="col-"] {

      .title {
        display: none;
      }

      .easypiechart {
        text-align: center;

        .icons {
          position: absolute;
          background: url("../images/ico-html5.png") no-repeat scroll center center transparent;
          top: -4px;
          bottom: 0;
          left: 14px;
          right: 15px;
          background-size: 38px;

          &.haml {
            background-image: url("../images/ico-haml.png");
          }

          &.css3 {
            background-image: url("../images/ico-css3.png");
          }

          &.sass {
            background-image: url("../images/ico-sass.png");
          }

          &.jquery {
            background-image: url("../images/ico-jquery.png");
          }

          &.angular {
            background-image: url("../images/ico-angular.png");
          }

          &.backbone {
            background-image: url("../images/ico-backbone.png");
          }

          &.php {
            background-image: url("../images/ico-php.png");
          }

          &.mysql {
            background-image: url("../images/ico-mysql.png");
          }

          &.mongodb {
            background-image: url("../images/ico-mongodb.png");
          }

          &.photoshop {
            background-image: url("../images/ico-photoshop.png");
          }

          &.illustrator {
            background-image: url("../images/ico-ai.png");
          }
        }
      }
    }
  }

  .iconsWrp {
    margin-top: 15px;
    margin-bottom: 50px;

    .icons {
      text-align: center;
      background-size: contain;
      display: inline-block;
      height: 100px;
      margin: 5px;
      text-indent: -99999px;

      span {
        position: absolute;
      }

      img {
        height: 100%;
        display: block;
      }
    }
  }
}


.portfolio-page {

  .portfolioWrp {
    margin-top: 30px;
    margin-bottom: 40px;

    .row {
      margin: 20px;
      @include small-devices {
        margin: 0;
      }

      div[class*="col-"] {
        @include small-devices {
          margin: 10px 0;
        }
      }

      .box {
        position: relative;
        overflow: hidden;
        //cursor: pointer;
        display: block;
        //padding: 10px 20px;
        min-height: 150px;
        text-align: center;
        background: white;
        border-width: 1px 1px 4px 1px;
        border-color: darken($boxBorder, 1);
        border-style: solid;
        @include transition(all 0.5s ease-in-out 0s);
        transition-timing-function: cubic-bezier(0.9, 0.16, 0.46, 1.92);

        & > div {
          padding: 15px;

          & > p {
            margin: 0;
          }
        }

        .brandLogo {
          width: 100%;
          height: 145px;
          background-size: contain;
          background-position-y: 50%;
          background-position-x: 50%;
          background-repeat: no-repeat;

          &.coreframework {
            background-image: url('../images/coreFramework-01.png');
          }

          &.being-desi {
            background-image: url('../images/beingdesi-logo.png');
          }

          &.hostgator {
            background-image: url('../images/hostgator-logo.png');
          }

          &.bluehost {
            background-image: url('../images/bluehostindia-logo.jpg');
          }

          &.bigrock {
            background-image: url('../images/bigrock-logo.gif');
          }

          &.gibo {
            background-image: url('../images/gibo-logo.png');
          }

          &.gafbo {
            background-image: url('../images/gafbo-logo.png');
            background-size: 87px;
          }

          &.rod {
            background-image: url('../images/rod-logo1.jpg');
          }

          &.httpx {
            background-image: url('../images/httpx-logo.png');
          }

          &.word-up {
            background-image: url('../images/wordup-logo-2015.png');
          }

          &.bluehost-blog {
            background-image: url('../images/bluehost-blog-logo.png');
          }

          &.bigrock-blog {
            background-image: url('../images/bigrock-blog-logo.gif');
          }
        }

        .title {
          background: rgba(0,0,0,0.8);
          color: white;
          position: absolute;
          width: 100%;
          padding: 0;
          bottom: -45px;
          @include transition(all 0.5s ease-in-out 0s);

          p, span {
            padding: 10px;
          }
        }

        &:hover {
          box-shadow: 0 4px 10px rgba(0,0,0,0.4);

          .title {
            bottom: 0;
          }
        }

      }
    }
  }
}

.switchWrp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @include opacity(0);

  &.active {
    height: 100%;
    @include opacity(1);

    .case {
      height: 100%;
      .template {
        @extend .case;

        .subPage {
          @include small-devices {
            -webkit-transform-style: preserve-3d;
            -webkit-backface-visibility: hidden;
          }
        }
      }
    }
  }

  .case {

    .template {

      &.ng-enter, &.ng-leave {
        @include transition(5s linear all);

        .subPage {
          width: 100%;
          @include transition(all 1s cubic-bezier(0.68, 0.01, 0.71, 1.43));
          transform: translate3d(100%, 0, 0)
        }
      }

      &.ng-enter {
        z-index: 100;
      }

      &.ng-enter.ng-enter-active {

        .subPage {
          transform: translate3d(0,0,0);
        }
      }


    }


  }

}

.subPage {
  padding-top: 0;
  padding-bottom: 0;
  background: rgba(255,255,255,0.95);
  min-height: 100%;

  .subHeader {
    background: white;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 4px solid #cccccc;
    font-size: 16px;

    .title {
      font-weight: 400;
    }
  }
}

.subPageContent {
  color: lighten($fontColor, 8);
  @include retina {
    color: lighten($fontColor, 2);
  }

  img {
    margin: 40px auto;
    //min-height: 100px;
  }

}

.introWrp, .snapshotWrp {
  font-size: 18px;

  .titleWrp {
    margin-top: 15px;

    .title {
      height: 1px;
      width: 140px;
      border-bottom: 1px solid black;
      margin-bottom: 30px;
      margin-left: auto;
      margin-right: auto;

      span {
        padding: 10px;
        background-color: white;
        top: -14px;
        position: relative;
        font-weight: 500;
        @include retina {
          font-weight: 400;
        }
        font-size: 20px;
        color: $fontColor;
      }
    }
  }

  .btnWrp {
    margin: 25px 0;
  }

  .para {

  }

  .infoWrp {

    margin-top: 25px;

    .platformWrp, .roleWrp {
      min-height: 100px;

      .title {
        font-weight: 500;
        color: $fontColor;
        @include retina {
          font-weight: 400;
        }
      }
    }

    .platformWrp {

      .platforms {
        overflow: hidden;
        padding: 0;
        margin: 0;

        .fa {
          width: 40px;
          height: 40px;
          font-size: 26px;
          font-size: 4vh;
          text-align: center;
          padding-top: 5px;
          color: #bbb;

          &.active {
            color: #434343;
          }
        }
      }
    }
  }
}

.snapshotWrp {
  .titleWrp {
    margin-top: 50px;
  }

  .snapshots {
    img {
      margin: 20px auto;
      border-radius: 5px;
    }
  }
}

.contactWrp {
  margin-top: 20px;
  font-size: $fontSize;

  .socialWrp {
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #ccc;

    .fa {
      font-size: 38px;
      cursor: pointer;
      color: #434343;
      text-decoration: none;
      margin: 10px 20px;
      @include small-devices {
        margin: 10px 15px;
      }
      @include max-width(350px) {
        margin: 14px;
        font-size: 30px;
      }
      display: inline-block;
      vertical-align: middle;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      -moz-osx-font-smoothing: grayscale;
      position: relative;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-property: transform;
      transition-property: transform;

      &:after {
        pointer-events: none;
        position: absolute;
        z-index: -1;
        content: '';
        top: 100%;
        left: 5%;
        height: 10px;
        width: 90%;
        opacity: 0;
        background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
        /* W3C */
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform, opacity;
        transition-property: transform, opacity;
      }

      &:hover {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
      }

      &:hover:after {
        opacity: 1;
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
      }
    }
  }
}


